{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-item nav-link" href="{% url 'employees:index' %}">Home</a>
    <a class="nav-item nav-link" href="{% url 'employees:edit_profile' %}">Edit Profile</a>
    <a class="nav-item nav-link" href="{% url 'employees:filter_by_day' %}">Filter Customers</a>
{% endblock %}


<table class="employee-customer-tb table-dark">
    <thead>
      <tr>
        <th scope="col">Customer Info</th>
        <th scope="col">Confirm Pickup</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Row - Customer Info -->
        <th scope="row"></th>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>