{% extends 'customers\customer_base.html' %}

{% block title %} GW Portal | Customer {% endblock %}

{% block header %} Customer Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h4>Hello, {{ logged_in_customer.name }}<br></h4>
    {% if logged_in_customer.balance <= 0 %}
      <h5><span class="badge btn bg-success">Current Balance: $ {{ logged_in_customer.balance }}.00</span></h5>
    {% elif logged_in_customer.balance > 0 %}
      <h5><span class="badge btn bg-warning">Current Balance: $ {{ logged_in_customer.balance }}.00</span></h5>
      <form action="{% url 'customers:submit_payment' %}" method="post" target="_blank">
        {% csrf_token %}
        <h5><button type="submit" class="btn btn-primary">Pay</button></h5>
      </form>

      
        
    {% endif %}
    <br>
    <!-- Display baddge w/customer balance: if $0 color green | else color warning w/balance -->
    {% if today > logged_in_customer.suspend_start and today < logged_in_customer.suspend_end %}
    <div class="alert alert-dismissible fade show alert-light text-dark" role="alert">
      <strong>Reminder:</strong> Your pickups are suspended until <strong>{{ logged_in_customer.suspend_end }}</strong></a>.
      <button type="button" class="btn-close btn-dark" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
  {% endif %}
    <!--? Edit Profile - Table for displaying customer info w/edit btn caption -->
    <div class="table-responsive">
      <table class="table table-hover table-dark text-center caption-top">
        <caption>
          <a href="{% url 'customers:edit_profile' %}">
          <button type="button" class="btn btn-lg btn-dark">Edit Profile</button>
          </a>
        </caption>
        <thead>
          <th scope="col">Your Address</th>
          <th scope="col">Trash Pickup Preference</th>
          <th scope="col">Date of Last Pickup</th>
          <th scope="col">Extra Pickup</th>
        </thead>
        <tbody>
          <tr>
            <td>{{logged_in_customer.address}} {{logged_in_customer.zip_code}}</td>
            <td>{{logged_in_customer.weekly_pickup}}'s</td>
            <!-- If true print pickup else print N/A -->
            {% if logged_in_customer.date_of_last_pickup  %}
              <td>{{ logged_in_customer.date_of_last_pickup }}</td>
            {% else %}
              <td>N/A</td>
            {% endif %}
            {% if logged_in_customer.one_time_pickup  %}
              <td>{{logged_in_customer.one_time_pickup}}</td>
            {% else %}
              <td>N/A</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Columns for One-Time Pickup and Suspend -->
    <div class="row">
      <div class="col">
        <!-- Schedule Card -->
        <div class="card text-white bg-dark mb-3" style="max-width: 50rem; min-height: 22rem;">
          <div class="card-header"><h5>Schedule An Extra Pickup</h5></div>
          <div class="card-body">
            <p class="card-text">
              <form action="{% url 'customers:one_time' %}" method="post">
                {% csrf_token %}
                Date of Pick Up: <input type="date" name="date" id="date" class="form-control color-light">
                <br>
                <br>
                <input type="submit" value="Submit" class="btn form-control btn-success">
              </form>
            </p>
          </div>
        </div>
      </div>
      <!-- Suspend Card -->
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="max-width: 50rem; min-height: 22rem;">
          <div class="card-header"><h5>Suspend Service</h5></div>
          <div class="card-body">
            <p class="card-text"><form action="{% url 'customers:suspend' %}" method="post">
              {% csrf_token %}
              Start Date: <input type="date" name="start" id="start" class="form-control">
              <br />
              End Date: <input type="date" name="end" id="end" class="form-control">
              <br />
              <br />
              <input type="submit" value="Submit" class="btn form-control btn-success">
          </form>
          </p>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}